port=8001

replicas=1
minCpu-dev=1
minCpu-pro=1
maxCpu-dev=2
maxCpu-pro=8
minMemorySize-dev=1G
minMemorySize-pro=1G
maxMemorySize-dev=31G
maxMemorySize-pro=31G
aliasName=ReportCenterService

mountPath1=/cloud-model/aiwriting/
readOnly1=false
mountPath2=/work/bin/ReportCenterService/backend/.langgraph_api
readOnly2=false

nodeSelector=role: app-container-gateway